{% extends 'app/base.html' %}
{% load static %}
{% block cart_content %}
<div class="row" style="width:100%">
	<div class="col-lg-12">
		<div class="box-element">

			{% comment %} <a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a> {% endcomment %}

			<br>
			<br>
			<table class="table">
				<tr>
					<th><h5>Sản phẩm: <strong>{{ order.get_cart_items }}</strong></h5></th>
					<th><h5>Tổng:<strong> {{ order.get_cart_total }} đ</strong></h5></th>
					<th>
						<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Thanh toán</a>
					</th>
				</tr>
			</table>

		</div>

		<br>
		<div class="box-element">
			<div class="cart-row">
				<div style="flex:2"></div>
				<div style="flex:2"><strong>Sản phẩm</strong></div>
				<div style="flex:1"><strong>Giá</strong></div>
				<div style="flex:1"><strong>Số lượng</strong></div>
				<div style="flex:1"><strong>Tổng</strong></div>
			</div>
			{%for item in items%}
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
				<div style="flex:2"><p>{{item.product.name}}</p></div>
				<div style="flex:1"><p>{{item.product.price}}</p></div>
				<div style="flex:1"><p class="quantity">{{item.quantity}}</p>
					<form method="POST" action="{% url 'add_to_cart' %}" class="update-cart-form">
						{% csrf_token %}
						<div class="quantity">
							<img data-product = {{item.product.id}} data-action = 'add' class="chg-quantity updata-cart" src="{% static  'app/images/banner/arrow-up.png' %}">
							<img data-product = {{item.product.id}} data-action = 'remove' class="chg-quantity updata-cart" src="{% static  'app/images/banner/arrow-down.png' %}">
						</div>
					</form>
					
				</div>
				<div style="flex:1"><p>{{item.get_total}} đ</p></div>
			</div>
			{%endfor%}	
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.chg-quantity').click(function(){
            var productId = $(this).data('product');
            var action = $(this).data('action');
            var url = "{% url 'add_to_cart' %}";

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    'productId': productId,
                    'action': action,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(response){
                    window.location.reload();
                },
                error: function(response){
                    console.log("error", response);
                }
            });
        });
    });
</script>
{% endblock cart_content %}